@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}
html, body{
    height: 90vh;
    width: 90vw;
    background-color: black;
}
body{
    background: url(../recursos/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;

}
main{
    height: 90vh;
    position: relative;
}
section#tlf{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: transparent url(../recursos/imagens/frame-iphone.png) no-repeat;
    border-radius: 50px;
    box-shadow: inset 10px 5px 10px rgba(0, 0, 0, 0.473);
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}
section#rdsc{
    text-align: right;
}
section#rdsc img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
    box-sizing: border-box;
}
section#rdsc img:hover{
    border: 2px solid rgba(255, 255, 255, 0.60);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);
    transition: transform .3s;

}
