@charset "UTF-8";




*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color:  darkgray;
}






header{
    padding-top: 50px;
    color: white;
    text-align: center;
    background-color: black;
    border: 1px solid black;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;

}
header > p{
    padding-bottom: 50px;
}



section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: gray;
    color: white;
    

}
.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.281);
}



a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}





footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}
footer > a::after{
    content: '\00A0\1F517';
}